body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  margin: 1em 0;
}

#root {
  margin: 1em;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visibility-selection {
  padding: 0;
  text-align: center;
}

.visibility-selection li {
  list-style-type: none;
  display: inline;
  margin: 0 1em;
}
